@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Angle";
    src: url("/fonts/angle.otf") format("opentype");
  }

  .text-angle {
    font-family: "Angle", serif;
    line-height: 0.9 !important;
    margin-top: 0.9%;
  }

  .text-angle p {
    margin-top: 5px;
  }

  .container {
    width: 100% !important;
    max-width: 1440px !important;
  }
}

@layer utilities {
  *::-webkit-scrollbar {
    width: 10px;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #bb9d93;
    border: 3px solid #e1c3b8;
    border-radius: 10px;
  }

  *::-webkit-scrollbar-track {
    background-color: #e1c3b8;
    border-radius: 4px;
  }

  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus {
    -webkit-box-shadow: 0 0 0px 1000px transparent inset;
    background-color: transparent;
    transition: background-color 5000s ease-in-out 0s;
  }

  input:-moz-autofill {
    background-color: transparent !important;
    color: inherit !important;
  }

  input:-ms-input-placeholder {
    background-color: transparent !important;
    color: inherit !important;
  }

  #bingo-card div:nth-of-type(5) {
    border-radius: 0 0 0 12px;
  }

  #bingo-card div:nth-of-type(25) {
    border-radius: 0 0 12px 0;
  }

  * {
    touch-action: manipulation;
  }
}
